<html>
    <head>
        {% include "app/components/head.html" %}
        <title>Citraskey | チャンネル</title>
    </head>
    <body>
        <div class="m4">
            <a href="/">ホーム</a>
            <hr size="1">
            <h3>フォロー中のチャンネル</h3>
            {% for c in channels %}
                <li><a href="/channel/view/{{ c['id'] }}">{{ c['name'] }}</a></li>
            {% else %}
                ありません
            {% endfor %}
            <br>
            <h3>作成したチャンネル</h3>
            {% for c in ownedchannels %}
                <li><a href="/channel/view/{{ c['id'] }}">{{ c['name'] }}</a></li>
            {% else %}
                ありません
            {% endfor %}
        </div>
    </body>
</html>