<html>
    <head>
        {% include "app/components/head.html" %}
        <title>Citraskey | チャンネル: {{ info['name'] }}</title>
    </head>
    <body>
        <div class="m4">
            <a href="/">ホーム</a> | <a href="/channel">チャンネル一覧</a>
            <h3><img src="/static/image/channel.png" style="width: 1em;"> {{ info['name'] }}</h3>
            <form action="/api/channel/{{ 'follow' if not info['isFollowing'] else 'unfollow' }}" method="POST">
                <input type="hidden" name="channelId" value="{{ info['id'] }}">
                <input style="float: right;" type="submit" value="フォロー{{ '解除' if info['isFollowing'] }}する">
            </form>
            <br>
            {% if info['isFollowing'] %}
                {% with channel_id = info['id'] %}
                    {% include "app/components/note_form.html" %}
                {% endwith %}
            {% endif %}
            <hr size="1">
            {% autoescape false %}
            {% for note in notes %}
                {{ render_note_element(note, {}) }}
            {% endfor %}
            {% endautoescape %}
        </div>
        {% if notes.__len__() > 1 %}
        <hr size="1">
        <center>
            <a href="/channel/view/{{ info['id'] }}?untilId={{ notes[-1]['id'] }}">もっと見る</a>
        </center>
        {% endif %}
        {% include "app/components/footer.html" %}
    </body>
</html>