<html>
    <head>
        {% include "app/components/head.html" %}
        <title>Citraskey | ゲーム</title>
    </head>
    <body>
        <div class="m4">
            <a href="/">ホーム</a>
            <hr size="1">
            <h3><img src="/static/image/game.png" style="width: 1em;"> ゲーム</h3>
            <br>
            <div>
                <h4><img src="/static/image/game/wordguess-icon.jpg" style="width: 1em;"> <a href="/game/wordguess">WordGuess</a></h4>
            </div>
        </div>
    </body>
</html>