<!DOCTYPE html>
<html>
    <head>
        {% include "app/components/head.html" %}
        <title>Citraskey</title>
    </head>
    <body>
        {% include "app/components/note_form.html" %}
        <div class="m4">
            <table style="table-layout: fixed; width: 100%">
                <tr>
                    <td><a href="javascript:location.reload()"><img src="/static/image/reload.png" width="24"/></a></td>
                    <td><a href="/notifications"><img src="/static/image/notification.png" width="24"/></a></td>
                    <td><a href="/messaging"><img src="/static/image/message.png" width="24"></a></td>
                    {% if not session['i']['autoAcceptFollowed'] %}
                    <td><a href="/follow-requests"><img src="/static/image/follow-request.png" width="24"></a></td>
                    {% endif %}
                    <td><a href="/settings"><img src="/static/image/settings.png" width="24"></a></td>
                    <td><a href="javascript:toggleSearchBox()"><img src="/static/image/search.png" width="24"></a></td>
                </tr>
            </table>
            <div id="searchbox" style="display: none">
                <form action="/search" method="GET">
                    <input type="text" name="q" placeholder="検索ワードを入力" style="width: 80%">
                    <input type="submit" value="検索">
                    <div style="font-size: 9pt">
                        <input type="radio" id="searchbox-input-type-note" name="type" value="notes" checked><label for="searchbox-input-type-note">投稿</label>
                        <input type="radio" id="searchbox-input-type-tag" name="type" value="tags"><label for="searchbox-input-type-tag">タグ</label>
                    </div>
                </form>
            </div>
            <div id="timeline-selector">
                <a class="tab {{ 'tab-active' if request.client_settings['timeline']=='home' }}" href="/?tl=home">ホーム</a>
                <a class="tab {{ 'tab-active' if request.client_settings['timeline']=='local' }}" href="/?tl=local">ローカル</a>
                <a class="tab {{ 'tab-active' if request.client_settings['timeline']=='hybrid' }}" href="/?tl=hybrid">ソーシャル</a>
                <a class="tab {{ 'tab-active' if request.client_settings['timeline']=='global' }}" href="/?tl=global">グローバル</a>
                <a href="javascript:scrollToElementX(document.getElementById('bottom-hr'))" style="float:right">▼</a>
            </div>
        </div>
        {% if request.args.get('untilId') %}
            <center>
                <a href="/">最新を見る</a>
            </center>
            <hr size="1">
        {% endif %}
        {% autoescape false %}
        {% set last_renote_id = '' %}
        {% set nest_count = 1 %}
        {% for note in notes %}
            {% if note['renote'] and not note['text'] %}
                {% if note['renote']['id'] == last_renote_id %}
                    {% set nest_count = 0 %}
                {% endif %}
            {% endif %}
            {{ render_note_element(note, {}, nest_count) }}
            {% if note['renote'] and not note['text'] %}
                {% set last_renote_id = note['id'] %}
            {% endif %}
        {% endfor %}
        {% endautoescape %}
        <hr id="bottom-hr" size="1">
        <a style="float:right" href="javascript:scrollToElementX(document.getElementById('timeline-selector'))">▲</a>
        {% if notes.__len__() > 1 %}
        <center>
            <a href="/?untilId={{ notes[-1]['id'] }}">もっと見る</a>
        </center>
        {% endif %}
        {% include "app/components/footer.html" %}
    </body>
</html>