<!DOCTYPE html>
<html>
    <head>
        {% include "app/components/head.html" %}
        <title>Citraskey</title>
    </head>
    <body>
        {% include "app/components/note_form.html" %}
        <div class="m4">
            <a href="javascript:location.reload()"><img src="/static/image/reload.png" width="24"/></a>
            &nbsp;
            <a href="/notifications"><img src="/static/image/notification.png" width="24"/></a>
        </div>
        {% autoescape false %}
        {% for note in notes %}
            {{ render_note_element(note, {}) }}
        {% endfor %}
        {% endautoescape %}
        {% include "app/components/footer.html" %}
    </body>
</html>