<html>
    <head>
        {% include "app/components/head.html" %}
        <title>Citraskey | リスト: {{ info['name'] }}</title>
    </head>
    <body>
        <div class="m4">
            <a href="/">ホーム</a> | <a href="/list">リスト一覧</a>
            <h2><img src="/static/image/list.png" style="width: 1em;"> {{ info['name'] }}</h2>
            <hr size="1">
            {% autoescape false %}
            {% for note in notes %}
                {{ render_note_element(note, {}) }}
            {% endfor %}
            {% endautoescape %}
        </div>
        {% if notes.__len__() > 1 %}
        <hr size="1">
        <center>
            <a href="/list/view/{{ info['id'] }}?untilId={{ notes[-1]['id'] }}">もっと見る</a>
        </center>
        {% endif %}
        {% include "app/components/footer.html" %}
    </body>
    </html>