<!DOCTYPE html>
<html>
    <head>
        {% include "app/components/head.html" %}
        <title>Citraskey | {{ note['user']['name'] }} さんの投稿</title>
    </head>
    <body>
        <p>
            <a href="/">ホーム</a> | <a href="javascript:history.back()">←戻る</a>
        </p>
        {% autoescape false %}
            {{ render_note_element(note, {}) }}
        {% endautoescape %}
        {% if replies %}
        <hr size="1">
        <div style="margin-left: 6px; margin-right: 6px;">
        {% autoescape false %}
            {% for reply in replies %}
                {{ render_note_element(reply, {}) }}
            {% endfor %}
        {% endautoescape %}
        </div>
        {% endif %}
        {% include "app/components/footer.html" %}
    </body>
</html>