<!DOCTYPE html>
<html>
    <head>
        {% include "app/components/head.html" %}
        <title>Citraskey | 通知</title>
    </head>
    <body class="m4">
        {% include "app/components/note_form.html" %}
        <br>
        <a href="/">ホーム</a>
        <br>
        {% if request.args.get('untilId') %}
            <center>
                <a href="/notifications">最新の通知</a>
            </center>
            <hr size="1">
        {% endif %}
        {% for n in notifications %}
            <div class="notification">
                {% autoescape false %}
                    {{ render_notification(n) }}
                {% endautoescape %}
            </div>
            <hr size="1">
        {% endfor %}
        {% if notifications.__len__() > 1 %}
            <center>
                <a href="/notifications?untilId={{ notifications[-1]['id'] }}">もっと見る</a>
            </center>
        {% endif %}
        {% include "app/components/footer.html" %}
    </body>
</html>