<!DOCTYPE html>
<html>
    <head>
        {% include "app/components/head.html" %}
        <title>3DSskey | 通知</title>
    </head>
    <body class="m4">
        <a href="/">ホーム</a>
        <br>
        {% for n in notifications %}
            <div>
                {% autoescape false %}
                    {{ render_notification(n) }}
                {% endautoescape %}
            </div>
            <hr>
        {% endfor %}
        {% include "app/components/footer.html" %}
    </body>
</html>