<!DOCTYPE html>
<html>
    <head>
        {% include "app/components/head.html" %}
        <title>Citraskey | 検索</title>
    </head>
    <body>
        <p>
            <a href="/">ホーム</a> | <a href="javascript:history.back()">←戻る</a>
        </p>
        <form action="/search" method="GET">
            <input type="text" name="q" placeholder="検索ワードを入力" style="width: 80%" value="{{ request.args.get('q') or ''}}">
            <input type="submit" value="検索">
            <br>
            <span style="font-size: 9pt">
                <input type="radio" id="searchbox-input-type-note" name="type" value="notes" {{'checked' if request.args.get('type')=='notes' or not request.args.get('type')}}><label for="searchbox-input-type-note">投稿</label>
                <input type="radio" id="searchbox-input-type-tag" name="type" value="tags" {{'checked' if request.args.get('type')=='tags'}}><label for="searchbox-input-type-tag">タグ</label>
                <input type="radio" id="searchbox-input-type-user" name="type" value="users" {{'checked' if request.args.get('type')=='users'}}><label for="searchbox-input-type-user">ユーザー</label>
            </span>
            <div style="font-size: 9pt" id="form-search-user-option" style="display: {{ 'block' if request.args.get('type') == 'users' else 'none' }};">
                <input type="radio" id="searchbox-user-input-cat-all" name="userOrigin" value="combined" {{'checked' if request.args.get('userOrigin')=='combined'}}><label for="searchbox-user-input-cat-all">すべて</label>
                <input type="radio" id="searchbox-user-input-cat-local" name="userOrigin" value="local" {{'checked' if request.args.get('userOrigin')=='local'}}><label for="searchbox-user-input-cat-local">ローカル</label>
                <input type="radio" id="searchbox-user-input-cat-remote" name="userOrigin" value="remote" {{'checked' if request.args.get('userOrigin')=='remote'}}><label for="searchbox-user-input-cat-remote">リモート</label>
            </div>
        </form>
        <br>
        {% set st = request.args.get('type') %}
        {% if st == 'notes' or st == 'tags' %}
        {% for result in results %}
            {% autoescape false %}
                {{ render_note_element(result, {}) }}
            {% endautoescape %}
            <hr size="1">
        {% endfor %}
        {% else %}
        {% for result in results %}
            {% autoescape false %}
                {{ render_user_card(result) }}
            {% endautoescape %}
            <hr size="1">
        {% endfor %}
        {% endif %}
        {% if results.__len__() > 1 %}
            <center>
                <a href="{{ next_url }}">もっと見る</a>
            </center>
        {% endif %}
        {% include "app/components/footer.html" %}
    </body>
</html>