<!DOCTYPE html>
<html>
    <head>
        {% include "app/components/head.html" %}
        <title>Citraskey | {{ user['name'] or user['username'] }} </title>
    </head>
    <body>
        <p>
            <a href="/">ホーム</a> | <a href="javascript:history.back()">←戻る</a>
        </p>

        {% set user_uri = user['uri'] or ('https://' + session['host'] + '/users/' + user['id']) %}
        {% set acct = user['username'] + ('@' + user['host'] if user['host'] else '') %}

        <script>
            var USER_INFO = {
                uri: '{{ user_uri }}',
                acct: '{{ acct }}',
                id: '{{ user["id"] }}',
            }
        </script>

        <div id="profile">
            <table class="table-flex">
                <tbody>
                    <tr>
                        <td><img class="profile-icon" src="{{ make_mediaproxy_url(user['avatarUrl']) }}"></td>
                        <td>
                            {% autoescape false %}{{ emoji_convert(user['name'], user['emojis']) or user['username'] }}{% endautoescape %}
                            {% if user['isAdmin'] %}
                                <span class="user-flag user-flag-admin">Admin</span>
                            {% endif %}
                            {% if user['isModerator'] %}
                                <span class="user-flag user-flag-moderator">Moderator</span>
                            {% endif %}
                            {% if user['isSilenced'] %}
                                <span class="user-flag user-flag-silenced">Silenced</span>
                            {% endif %}
                            {% if user['isBot'] %}
                                <span class="user-flag user-flag-bot">Bot</span>
                            {% endif %}
                            {% if user['isCat'] %}
                                <span class="user-flag user-flag-cat">Cat</span>
                            {% endif %}
                            {% if user['isSuspended'] %}
                                <span class="user-flag user-flag-suspended">Suspended</span>
                            {% endif %}
                            <br>
                            <small>@{{ acct }}</small>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p style="font-size: 9pt">
                <strong>{{ user['notesCount'] }}</strong> 投稿 &nbsp; <strong>{{ user['followingCount'] }}</strong> フォロー &nbsp; <strong>{{ user['followersCount'] }}</strong> フォロワー
            </p>
            <div style="float: right;">
                {% if user['id'] != session['i']['id'] %}
                {% if not request.client_settings['enableScriptLess'] %}
                <button id="user-follow-button-{{ user['id'] }}" class="user-follow-button" data-user-id="{{ user['id'] }}" data-follow-state="{{ user['isFollowing'].__str__().lower() }}">フォロー{{ '解除' if user['isFollowing'] else '' }}</button>
                {% else %}
                <a href="/api/users/{{ 'un' if user['isFollowing'] else '' }}follow?userId={{ user['id'] }}">フォロー{{ '解除' if user['isFollowing'] }}</a>
                {% endif %}
                {% endif %}
                <select id="user-action-{{ user['id'] }}" class="user-action-select">
                    <option disabled selected>選択...</option>
                    {% if user['id'] != session['i']['id'] %}
                        {% if user['isBlocking'] %}
                            <option value="unblock">ブロック解除</option>
                        {% else %}
                            <option value="block">ブロック</option>
                        {% endif %}
                        {% if user['isMuted'] %}
                            <option value="unmute">ミュート解除</option>
                        {% else %}
                            <option value="mute">ミュート</option>
                        {% endif %}
                        <option value="report">通報</option>
                    {% endif %}
                </select>
            </div>
            <br>
            {% if user['description'] %}
                <p class="user-description">
                    {{ mention2link(emoji_convert(user['description'], user['emojis']).replace('\n', '<br>')) | safe }}
                </p>
            {% endif %}
        </div>
        <br>
        <div id="tabs">
            <a class="tab {{ 'tab-active' if (not request.args.get('tab')) or (request.args.get('tab')=='post') }}" href="/@{{acct}}">投稿</a>
            <a class="tab {{ 'tab-active' if request.args.get('tab')=='replies' }}" href="/@{{acct}}?tab=replies">投稿と返信</a>
            <a class="tab {{ 'tab-active' if request.args.get('tab')=='pins' }}" href="/@{{acct}}?tab=pins">ピン留め</a>
            <a class="tab {{ 'tab-active' if request.args.get('tab')=='medias' }}" href="/@{{acct}}?tab=medias">メディア</a>
        </div>

        <br>
        {% if request.args.get('untilId') %}
            <center>
                <a href="{{ request.base_url }}">最新を見る</a>
            </center>
            <hr size="1">
        {% endif %}
        {% autoescape false %}
            {% for note in notes %}
                {{ render_note_element(note, {}) }}
            {% endfor %}
        {% endautoescape %}

        {% if notes.__len__() > 1 %}
        <hr size="1">
        <center>
            <a href="/@{{ acct }}?untilId={{ notes[-1]['id'] }}">もっと見る
            </a>
        </center>
        {% endif %}

        {% include "app/components/footer.html" %}
    </body>
</html>