.note {
    position: relative;
    margin-bottom: 8px;
    padding: 2px;
    border: 1px solid black;
    border-radius: 4px;
    overflow-x: scroll;
}

.note-quote {
    border: 1px dashed black !important;
}

.note-renote {
    border: none !important;
    overflow-x: hidden;
}

.note-renote > .note-header img {
    width: 16px;
}

.note-renote > .note-header {
    font-size: 9pt;
}

.note-normal {
    font-size: initial !important;
}

.note-content {
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.emoji-in-text {
    max-width: 16px;
}

.icon-in-note {
    max-width: 30px;
}

.hide {
    display: none !important;
}

.m4 {
    margin: 4px;
}

.note-reaction-selected {
    background-color: #12ae1c;
    color: white;
    text-shadow: 0 0 1px #000;
    border-radius: 2px;
}

.note-reaction-available {
    border: 1px solid #777777;
    border-radius: 2px;
}

#note-form-wait-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
}

.note-form {
    position: relative;
}

.profile-icon {
    width: 32px;
    border-radius: 16px;
}

.user-flag {
    border-radius: 2px;
    padding: 0 2px;
    font-size: 9pt;
}

.user-flag-moderator {
    border: 1px solid #0cb615;
    color: #0cb615;
}

.user-flag-suspended {
    border: 1px solid #ff0000;
    color: #ff0000;
}

.user-flag-silenced {
    border: 1px solid #ffaa00;
    color: #ffaa00;
}

.user-flag-bot {
    border: 1px solid #777777;
    color: #777777;
}

.user-flag-cat {
    border: 1px solid #d01294;
    color: #d01294;
}

.user-flag-admin {
    border: 1px solid #0000ff;
    color: #0000ff;
}

.user-description {
    max-height: 100px;
    overflow-y: scroll;
}

.visibility-icon {
    width: 16px;
}

.table-flex{
    border: none;
}

.note-header-name {
    line-height: 0.9;
}

.note-poll {
    border: 1px solid #777777;
}

.tab {
    border: 1px solid #777777;
    border-bottom: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-decoration: none;
    font-size: 10.5pt;
    color: #888888;
}

.tab:visited {
    color: #888888;
}

.tab-active {
    background-color: #333333;
    color: #dddddd !important;
}

.notification {
    margin-top: 4px;
    margin-bottom: 4px;
}

#searchbox {
    margin-top: 4px;
    margin-bottom: 4px;
}

.message-overview {
    position: relative;
    border: 1px solid #777777;
    border-radius: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.message {
    position: relative;
    border: 1px solid #777777;
    border-radius: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
    display: block;
}

.message-element-container {
    position: relative;
}

.message-receiver .message-header {
    text-align: -webkit-right;
}

.message-receiver .message {
    /*width: auto;*/
}

.message-receiver .message .message-body {
    /*text-align: -webkit-right;*/
}

.follow-request-action-buttons a {
    text-align: -webkit-right;
}