.note {
    margin-bottom: 8px;
    padding: 2px;
    border: 1px solid black;
    border-radius: 4px;
    overflow-x: scroll;
}

.note-quote {
    border: 1px dashed black !important;
}

.emoji-in-text {
    max-width: 16px;
}

.icon-in-note {
    max-width: 24px;
}

.hide {
    display: none !important;
}

.m4 {
    margin: 4px;
}

.note-reaction-selected {
    background-color: #12ae1c;
    color: white;
    text-shadow: 0 0 1px #000;
    border-radius: 2px;
}

.note-reaction-available {
    border: 1px solid #777777;
    border-radius: 2px;
}

#note-form-wait-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
}

.note-form {
    position: relative;
}

.profile-icon {
    width: 32px;
    border-radius: 16px;
}

.user-flag {
    border-radius: 2px;
    padding: 0 2px;
    font-size: 9pt;
}

.user-flag-moderator {
    border: 1px solid #0cb615;
    color: #0cb615;
}

.user-flag-suspended {
    border: 1px solid #ff0000;
    color: #ff0000;
}

.user-flag-silenced {
    border: 1px solid #ffaa00;
    color: #ffaa00;
}

.user-flag-bot {
    border: 1px solid #777777;
    color: #777777;
}

.user-flag-cat {
    border: 1px solid #d01294;
    color: #d01294;
}

.user-flag-admin {
    border: 1px solid #0000ff;
    color: #0000ff;
}

.user-description {
    max-height: 100px;
    overflow-y: scroll;
}