<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <meta charset="utf-8">
        <title>Citraskey</title>
    </head>
    <body>
        <center>
            <table>
                <tr>
                    <td><img src="/static/image/icon.png" width="32"></td>
                    <td><span style="font-size: 20pt">Citraskey</span></td>
                </tr>
            </table>
            <form action="/auth/start" method="POST">
                <input type="text" name="hostname" placeholder="インスタンスのホスト名 (misskey.ioなど)" style="width: 100%"><br>
                <input type="submit" value="ログイン" style="width: 100%">
            </form>
        </center>
    </body>
</html>